.header-content {
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 1920px;
}

.logo-image {
    height: 40px;
    object-fit: cover;
}

.logo-box {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    flex: 1;
    gap: 16px;
}