.main-content {
    height:68vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    max-width: 1920px;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-color: #031117 #0d324000 ;
}


.card {
    background-color: #09212a;
    border-radius: 8px;
    height: calc(0.8*320px);
    width: calc(0.8*250px);
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px #ffffff;
    opacity: 0.8;
}

.card-header {
    height: 20%;
    display: flex;
    gap: 16px;
    font-size: calc(0.8*24px);
    justify-content: left;
    align-items: center;
    margin-left: 8px;
    font-weight: 700;
}

.card-body {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: end;

}

.card-body-img {
    height: 60%;
    width: auto;
    object-fit: cover;
    margin-bottom: 24px;
}


.card-footer-type {
    height: 40px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.health-bar-rahmen {
    width: 216px;
    height: 8px;
    border: 1px solid black;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.health-bar-fuellung {
    height: 100%;
    transition: width 0.5s;
    border-radius: 8px;
}