body {
    font-family: 'Figtree-Regular';
    margin: 0;
}

h1 {
    font-size: 56px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
}

header {
    background-color: #09212a;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;

}

main {
    background-color: #0D3240;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: #09212a;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.displayFlex {
    display: flex !important;
}

.displayNone {
    display: none !important;
}

.borderWhiteActive {
    border-color: rgba(255, 255, 255, 0.668);
    border-style: solid;
    border-width: 2px;
    transform: scale(1.1);
}

button {
    width: fit-content;
}

button:hover {
    cursor: pointer;
}
.m-left-40px{
    margin-left: 40px;
}
.grass{
    background-color: green;
}
.fire{
    background-color: rgba(190, 40, 40, 0.915);
}
.water{
    background-color: rgba(0, 255, 255, 0.79);
}

.normal {
    background-color: #A8A77A;
}
.electric {
    background-color: #F7D02C;
}
.ice {
    background-color: #96D9D6;
}
.fighting {
    background-color: #C22E28;
}
.poison {
    background-color: #A33EA1;
}
.ground {
    background-color: #E2BF65;
}
.flying {
    background-color: #A98FF3;
}
.psychic {
    background-color: #F95587;
}
.bug {
    background-color: #A6B91A;
}
.rock {
    background-color: #B6A136;
}
.ghost {
    background-color: #735797;
}
.dragon {
    background-color: #6F35FC;
}
.dark {
    background-color: #705746;
}
.steel {
    background-color: #B7B7CE;
}
.fairy {
    background-color: #D685AD;
}